name: Pull requests build

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - '.txt'
      - 'LICENSE'
      - 'docs/**'
  push:
    branches: [ main ]

jobs:
  pr-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build with Maven
        run: mvn --no-transfer-progress verify

      - name: SonarQube analysis
        if: runner.os == 'Linux'
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
             -Dsonar.projectKey=daniel-navarro-ls_WebGoat

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        if: runner.os == 'Linux'
        uses: docker/setup-buildx-action@v2

      - name: Verify Docker WebGoat build
        if: runner.os == 'Linux'
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./Dockerfile
          push: false
          build-args: |
            webgoat_version=${{ env.WEBGOAT_MAVEN_VERSION }}

      - name: Verify Docker WebGoat desktop build
        if: runner.os == 'Linux'
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./Dockerfile_desktop
          push: false
          build-args: |
            webgoat_version=${{ env.WEBGOAT_MAVEN_VERSION }}
